<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Login</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css' />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous' />
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href='../assets/css/project.css' />

  </head>
  <body>
    <nav class='navbar navbar-expand-lg bg-light'>
      <div class='container'>
        <a class='navbar-brand' href='/'><img src='../assets/img/download-removebg-preview.png' width='50' alt='Logo' /></a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav ms-3 me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href='/'>Home</a>
            </li>

          </ul>
          <ul class='navbar-nav me-4'>

            <li class='nav-item'>
              <a class='nav-link' href='/register'>Register</a>
            </li>

          </ul>
          <a href='/contact'> <button class='btn text-light rounded-3' type='submit'>Contact Me</button></a>
        </div>
      </div>
    </nav>
    <!-- form -->
    <main>
      <div class='container pb-5'>
        <h1 class='text-center fw-bold pt-5 mb-5'>LOGIN TO YOUR ACCOUNT</h1>
        <div class='row'>
          <div class='col-5 mx-auto'>
            {{#if messages.failed}}
              <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                <strong>{{messages.failed}}</strong>

                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
              </div>
            {{/if}}

            {{#if messages.pwFailed}}
              <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                <strong>{{messages.pwFailed}}</strong>

                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
              </div>
            {{/if}}
            {{#if messages.logout}}
              <div class='alert alert-info alert-dismissible fade show' role='alert'>
                <strong>{{messages.logout}}</strong>

                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
              </div>
            {{/if}}
            {{#if messages.notLogin}}
              <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                <strong>{{messages.notLogin}}</strong>

                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
              </div>
            {{/if}}

            <form action='/login' method='post'>
              <div>
                <label class='form-label fw-bold' for='user-email'>Email</label>
                <input class='form-control shadow mb-3' type='email' placeholder='user@mail.co' name='userEmail' id='user-email' />
              </div>
              <div>
                <label class='form-label fw-bold' for='user-pw'>Password</label>
                <input class='form-control shadow mb-3' type='password' name='userPw' id='userPw' />
              </div>

              <div class='text-end mt-5'>
                <button class='rounded-5 px-3 py-1 text-light' type='submit'>Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous'></script>
  </body>
</html>